body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.left-side {
    flex: 0 0 200px;
    background-color: #789AC2;
    flex-direction: column;
}

.modern-text {
    font-size: 50px;
    font-family: 'Koulen';
    font-weight: normal;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.menu-container {
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: left;
    align-items: left;
}

.menu-container h1 {
    font-size: 16px;
    font-family: 'Mochiy Pop P One';
    font-style: normal;
    color: #042354;
    margin-top: 50px;
}

.sub-menu{
    align-items: center;
    display: flex; 
    justify-content: flex-start;
    margin-bottom: 20px;
}

.sub-menu img {
    width: 30px;
    height: auto;
    padding-right: 15px;
}

.sub-menu a {
    color: #fff;
    text-decoration: none;
    font-family: 'Mochiy Pop P One';
    font-size: 12px;
}

.logout {
    display: flex; 
    justify-content: center;
    margin-top: 250px;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.right-side {
    display: flex;
    background-color: #eaeaea;
    flex-direction: column;
    flex-grow: 1;
}

.header, .footer, .isi-footer {
    flex-direction: row;  
    padding: 10px; 
    margin: 5px; 
}

.main{
    height: 250px;
    display : flex;
    margin : 10px;
    margin-right: 20px;
    margin-left: 20px;
    background: linear-gradient(180deg, #789AC2, #f0f0f0);
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 20px; /* Ruang di sekitar elemen */
    border-radius: 66px; /* Sudut melengkung */
    align-items: center;
}

.main img {
    margin-left: 0px;
    width: 300px;
    height: 220px;
}

.main p {
    margin-left: 100px;
    font-size: 70px;
    font-family: 'Mochiy Pop P One';
    font-weight: bold;
    color: #042354;
}

.header {
    padding-top: 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.page-title {
    flex: 1;
    font-size: 25px;
    font-family: 'Mochiy Pop P One';
    font-weight: bold;
    color: #789AC2;
    text-align: left;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
}

.search-box button {
    padding: 8px;
    background-color: #789AC2;
    color: #fff;
    border: 1px solid #789AC2; 
    border-radius: 0 15px 15px 0; 
    cursor: pointer;
}

.bar-nama {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-pict {
    margin-left: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: auto;
}

.footer1,.footer2 {
    padding: 30px;
    background-color: #042354; /* New background color for the entire footer1 section */
    color: #fff;
    box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border-radius: 15px 15px 0 0;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.footer1 {
    width: 730px;
}

.footer2 {
    width: 400px;
}

.isi-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: auto;
}

.isi-footer1,.isi-footer2 {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white background for frosted glass effect */
    color: #fff;
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border-radius: 0 0 15px 15px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: -30px;
}

.isi-footer1 {
    width: 730px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white background for frosted glass effect */
}

.name-container {
    background: linear-gradient(to right, #b3c2d3, #608bbc); /* Warna gold gradient */
    border-radius: 66px;
    color: white;
    font-size: 20px;
    font-family: 'Koulen';
    font-weight: 400;
    margin-top: -13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek shadow untuk tampilan glossy */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Outline font */
    position: relative; /* Tambahkan properti position: relative; */
}

.position {
    position: absolute; /* Tambahkan properti position: absolute; */
    height: 28px;
    width: 44px;
    bottom: 0; /* Sesuaikan sesuai kebutuhan Anda */
    left: 3%; /* Sesuaikan sesuai kebutuhan Anda */
    transform: translateX(-50%); /* Untuk memusatkan horizontal */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 110px;
    border: 5px #668AC2 solid;
    font-size: 25px;
    font-family: 'Koulen';
    color: black;
}


.isi-footer2 {
    width: 400px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.2);
}

.ach-container {
    background: linear-gradient(to right, #b3c2d3, #608bbc); /* Warna gold gradient */
    border-radius: 66px;
    color: white;
    font-size: 20px;
    font-family: 'Koulen';
    font-weight: 400;
    margin-top: -13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek shadow untuk tampilan glossy */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Outline font */
    position: relative; /* Tambahkan properti position: relative; */
}

.icon {
    position: absolute;
    height: 28px; /* Tinggi container */
    width: 44px; /* Lebar container */
    bottom: 0;
    left: 6%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('E:/PROJECT_IMK/Image Asset/Menu Asset/Dashboard/Piala.png') center/contain no-repeat; /* Ganti path sesuai dengan lokasi gambar Anda */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 110px;
    border: 5px #668AC2 solid;
}

