body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.left-side {
    flex: 0 0 200px;
    background-color: #789AC2;
    flex-direction: column;
}

.modern-text {
    font-size: 50px;
    font-family: 'Koulen';
    font-weight: normal;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.menu-container {
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: left;
    align-items: left;
}

.menu-container h1 {
    font-size: 16px;
    font-family: 'Mochiy Pop P One';
    font-style: normal;
    color: #042354;
    margin-top: 50px;
}

.sub-menu{
    align-items: center;
    display: flex; 
    justify-content: flex-start;
    margin-bottom: 20px;
}

.sub-menu img {
    width: 30px;
    height: auto;
    padding-right: 15px;
}

.sub-menu a {
    color: #fff;
    text-decoration: none;
    font-family: 'Mochiy Pop P One';
    font-size: 12px;
}

.logout {
    display: flex; 
    justify-content: center;
    margin-top: 250px;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.right-side {
    display: flex;
    background-color: #eaeaea;
    flex-direction: column;
    flex-grow: 1;
}

.header, .footer {
    flex-direction: row;  
    padding: 10px; 
    margin: 5px; 
}

.header {
    padding-top: 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.page-title {
    flex: 1;
    font-size: 25px;
    font-family: 'Mochiy Pop P One';
    font-weight: bold;
    color: #789AC2;
    text-align: left;
}

.profile-box {
    display: flex;
    align-items: center;
}

.profile-box input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
}

.profile-box button {
    padding: 8px;
    background-color: #789AC2;
    color: #fff;
    border: 1px solid #789AC2; 
    border-radius: 0 15px 15px 0; 
    cursor: pointer;
}

.profile-pict {
    margin-left: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: auto;
}

.footer-left {
    display: flex;
    align-items: left;
    flex-direction: column;
    background: linear-gradient(180deg, #789AC2, #f0f0f0);
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 15px;
    height: 610px;
}

.player-info {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-right: 20px;
    color: #ffffff;
}

.player-info p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.blood-pressure,
.heart-rate {
    margin-right: 10px;
}

.blood-pressure {
    margin-top: 20px;
    width: 800px; 
    height: 100px; 
    background: linear-gradient(279deg, #789AC2 0%, #042354 100%); 
    border-radius: 30px;
    margin-right: 10px;
    padding: 10px;
    background-color: #FF5733;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Display child elements in a column */
    align-items: center; /* Center child elements horizontally */
}

.blood-pressure .bp-label {
    margin: 10px;
    font-family: 'Mochiy Pop P One';
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.blood-pressure .bp-value {
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
}

.heart-rate {
    margin-right: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.heart-rate p {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: #fff
}

.heart-rate .heart-rate-value {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.right-align {
    margin-left: auto; /* Auto margin on the left pushes it to the right */
}

/* Style for the select element (dropdown list) */
#playerDropdown {
    border: none;
    background-color: #6991bf;
    color: #fff;
    padding: 8px;
    border-radius: 8px; /* Add border-radius */
}

/* Style for the dropdown arrow icon */
#playerDropdown::after {
    content: '\25BC'; /* Unicode character for down arrow */
    color: #fff;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* Style for the dropdown options */
#playerDropdown option {
    background-color: #6991bf;
    color: #fff;
    border-radius: 8px; /* Add border-radius */
}

/* Style for the selected option */
#playerDropdown option:checked {
    background-color: #789AC2;
    color: #042354;
}


.footer-right {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #789AC2, #f0f0f0);
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-left: 20px;
    height: 640px;
}

.player-photo img {
    width: 400px;
    height: 620px;
    padding: 15px;
}