body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.left-side {
    flex: 0 0 200px;
    background-color: #789AC2;
    flex-direction: column;
}

.modern-text {
    font-size: 50px;
    font-family: 'Koulen';
    font-weight: normal;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.menu-container {
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: left;
    align-items: left;
}

.menu-container h1 {
    font-size: 16px;
    font-family: 'Mochiy Pop P One';
    font-style: normal;
    color: #042354;
    margin-top: 50px;
}

.sub-menu{
    align-items: center;
    display: flex; 
    justify-content: flex-start;
    margin-bottom: 20px;
}

.sub-menu img {
    width: 30px;
    height: auto;
    padding-right: 15px;
}

.sub-menu a {
    color: #fff;
    text-decoration: none;
    font-family: 'Mochiy Pop P One';
    font-size: 12px;
}

.logout {
    display: flex; 
    justify-content: center;
    margin-top: 250px;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.right-side {
    display: flex;
    background-color: #eaeaea;
    flex-direction: column;
    flex-grow: 1;
}

.header, .footer {
    flex-direction: row;  
    padding: 10px; 
    margin: 5px; 
}

.header {
    padding-top: 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.page-title {
    flex: 1;
    font-size: 25px;
    font-family: 'Mochiy Pop P One';
    font-weight: bold;
    color: #789AC2;
    text-align: left;
}

.profile-box {
    display: flex;
    align-items: center;
}

.profile-box input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px 0 0 15px;
}

.profile-box button {
    padding: 8px;
    background-color: #789AC2;
    color: #fff;
    border: 1px solid #789AC2; 
    border-radius: 0 15px 15px 0; 
    cursor: pointer;
}

.profile-pict {
    margin-left: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: auto;
}

.footer-left {
    width: 1000px;
    height: 640px;
    border-radius: 66px;
    background: linear-gradient(180deg, #789AC2, #f0f0f0);
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.footer-left header {
    display: flex;
    padding: 25px;
    padding-bottom: 3px;
    justify-content: space-between;
    text-align: center;
  }
  
  header .currentDate {
    font-family: 'Mochiy Pop P One';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 20px 0px;
    color:#042354;
  }
  
  header .arrows span {
    height: 38px;
    width: 38px;
    margin: 23px 5px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    color:#042354;
    padding: 5px;
    font-size: 1.9rem;
  }
  
  header .icons span:last-child{
    margin-right: -10px;
  }
  
  header .arrows span:hover{
    background: #ffffff;
  }
  
  .calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding : 0px 20px 0px;
    text-align: center;
    color:#042354;
  }
  
  .calendar .weeks li {
    font-family: 'Mochiy Pop P One';
    font-size: 20px;
  }
  
  .calendar ul li {
    position: relative;
    width: calc(100%/7);
  }
  
  .calendar .days li {
    cursor: pointer;
    margin-bottom: 18px;
    margin-top: 25px;
    font-size: 27px;
    z-index: 1;
  }
  
  .days li.inactive {
    color:#789AC2 ;
  }
  
  .days li.active {
    color:#ffffff ;
  }
  
  .calendar .days li::before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .days li:hover:before{
    background: #ffffff;
  }
  
  .days li.active::before{
    background: #042354;
  }

.footer-right {
    width: 270px;
    height: 640px;
    background: linear-gradient(180deg, #789AC2, #f0f0f0);
    box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 66px;
}

.footer-right .tdlWrapper {
    position: absolute;
    width: 270px;
    height: 791px;
    top: 174px;
    left: 900px;
    background: #D9D9D9;
    border-radius: 66px;
  }
  
  .todo header {
    font-family: 'Mochiy Pop P One';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 30px 0px 0px;
    color:#042354;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .todo .taskAdder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 30px;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .taskAdder input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    padding: 10px;
  }
  
  .task-box li {
    list-style: none;
    font-size: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    color: #042354;
  
  }
  
  .task-box li:last-child {
    border-bottom: 0;
  }
  
  .task label {
    display: flex;
  }
  
  .task label input {
    margin-right: 20px;
  }